/* main page */

.main-title {
color: #333333; 
font-family: 'Bitter', sans-serif;
font-size: 45px;
font-weight: normal;
line-height: 48px;
margin: 18px;
text-align: center;
}

.main-sub-title {
color: #333333; 
font-family: 'Bitter', sans-serif;
font-size: 12px;
font-style: italic;
font-weight: normal;
line-height: 48px;
margin: 0;
text-align: center;
}

body {
  color:#000
}

.sort-buttons {
	display: inline-block;
}

.padding-stuff {
	padding: 10px 0;
}

.post-title {
	display: inline-flex;
	color: #5CBDBD;
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	font-weight: 500;
	line-height: 32px;
	text-decoration: none;
	padding-left: 16px;
}

.post-title :hover {
	color: #3f8c8c;
}

.post-id {
	margin:0;
	padding-left: 0;
}

.comment-body {
color: #111;
font-family: 'Open Sans', sans-serif;
font-size: 16px;
line-height: 24px;
font-weight: 300;
text-align: justify;
text-justify: inter-word;
margin-top: 20px;
}

.post-body {
	color: #111;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	line-height: 24px;
	font-weight: 300;
	text-align: justify;
	text-justify: inter-word;
	margin: 20px 0 0 32px;
}

.post-misc {
color: #a9a9a9;
font-family: 'Helvetica Neue', sans-serif;
font-size: 12px;
text-align: justify;
text-justify: inter-word;
margin-left: 58px;
}

.post-misc-detail {
color: #a9a9a9;
font-family: 'Helvetica Neue', sans-serif;
font-size: 12px;
text-align: justify;
text-justify: inter-word;
margin-left: 32px;
}

.post-position {
	margin: 24px 0 24px 12px;
}

.btn-back, .btn-edit, .btn-new-post, .btn-comment, .submit-btn, .reset-btn {
color:#FFFFFF;
font:0.9em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
padding:8px;
margin: 6px;
margin-left: 40px;
border:1px solid #ffcc00;
-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
border-bottom:1px solid #9f9f9f;
-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
background-color:#333333;
border-color:#FFFFFF;
cursor:pointer;
}

.submit-btn, .reset-btn {
	  display: inline-block;
  text-align: left;
  margin-left:0;
}

.btn-back:hover{background-color:#696969;}
.btn-edit:hover{background-color:#696969;}
.btn-new-post:hover{background-color:#696969;}
.btn-comment:hover{background-color:#696969;}
.submit-btn:hover{background-color:#696969;}
.reset-btn:hover{background-color:#696969;}

.btn-back:active{position:relative;top:2px;}
.btn-edit:active{position:relative;top:2px;}
.btn-new-post:active{position:relative;top:2px;}
.btn-comment:active{position:relative;top:2px;}
.submit-btn:active{position:relative;top:2px;}
.reset-btn:active{position:relative;top:2px;}

.btn-edit {
	margin-left: 0px;
}

.btn-new-post {
	margin-left: 0px;
	text-decoration: none;
}

.link-new-post {
	color:#FFFFFF;
	text-decoration: none;
}

.nav-list {
	margin:0;
	list-style-type: none;
	color:#333333;
	font:1.5em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
	padding: 0;
	overflow: hidden;
}

.nav-item {
	color:#333333;
	float: left;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nav-item:hover {
  color: #222;
  background-color:grey; 
}

hr {
    display: block;
    height: 0px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
}

.hrComment {
  display: inline-flex;
}

label {
  display: block;
  font-size: 0.8rem;
  line-height: 1.4rem;
  font-weight: 600;
  color: $color-label;
}

input[type="radio"], input[type="checkbox"] {
  margin-right: 0.5rem;
}

.comment-position {
	display:inline;
	margin: 48px 0 32px 44px;
	font:1.5em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
}

textarea {
  width: 300px;
  height: 150px;
}

.post-form {
  display: inline-block;
  text-align: left;
  font-family: Lato, Helvetica, sans-serif;
  width: 600px;
}

.form-field {
	width: 100%;
  padding: 5px;
  padding-left: 0;
  outline: none;
}

.form-label {
  margin:10px auto;
  font: 20px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
	padding-top: 8px;
	padding-right: 5px;
}

.form-div {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.3);
	padding: 250px 100px 500px 300px;
}

.modal {
	background: #fff;
	border-radius: 5px;
	width: 500px;
	height: 350px;
	margin: 0;
	padding: 30px;
}

.comment-modal-field {
	padding: 5px;
	width: 450px;
}

.comment-modal-label {
	margin:10px 0 10px;
	color: #333333; 
	font-family: Futura, ‘Century Gothic’, AppleGothic, sans-serif;
	font-size: 20px;
}

.btn-modal {
	margin: 1rem 10px 0 0;
	color:#FFFFFF;
	font:0.9em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
	padding:8px;
	border:1px solid #ffcc00;
	-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
	border-bottom:1px solid #9f9f9f;
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	background-color:#333333;
	border-color:#FFFFFF;
	cursor:pointer;
}

.comment-style {
	background:none;
	border:none;
	color: #111;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 14px;
	font-weight: 300;
	text-align: justify;
	text-justify: inter-word;
	margin: 0;
	padding: 0;
}

.comment-style:hover{color: #5CBDBD; cursor: pointer;}

.footer {
	display: inline;
}

.vote-post {
	margin: 22px 0 0 10px;
	width: 15px;
	float: left; 
	clear: left;
}

.vote-post img {
	display: block;
	float: none; 
	clear: both;
}

.vote-post-detail img {
	display: block;
	float: none; 
	clear: both;
}

.vote-comment img {
	display: block;
	float: none; 
	clear: both;
}

.img-responsive:hover{color: #5CBDBD; cursor: pointer;}

.vote-comment {
	margin: 0 20px 40px 0;
	height: 20px;
	width: 15px;
	float: left; 
	clear: left;
}

.vote-post-detail {
	margin: 0;
	width: 15px;
	float: left; 
	clear: left;
}

.between-arrows {
	height: 12px;
	width: 24px;
	text-align: center;
	font-size: 12px;
}

.img-responsive {
	height: 20px;
	width: 24px;
	margin: 0;
}

.comment-form-warning {
	color: red;
}

.sort-label {
    margin: 10px;
    padding: 0;
    color:#333333;
    font:0.9em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
}

.sort-list {
    width: 80px;
    height: 36px;
    color:#FFFFFF;
    font:0.9em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    padding:8px;
    margin: 6px;
    border:1px solid #ffcc00;
    -moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
    border-bottom:1px solid #9f9f9f;
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    background-color:#333333;
    border-color:#FFFFFF;
    cursor:pointer;
}

.sort-form {
    display: inline-block;
}

